{% extends 'base.html.twig' %}

{% block title %}Photothèque de chatons{% endblock %}

{% block body %}
<style>
    .page { display: flex; flex-direction: column; justify-content: center; align-items: center; }
	h1 { text-align: center; color : #012E40; font-size: 50px; }
    .cards { display: flex; flex-wrap: wrap; justify-content: center; }
    @media (max-width: 768px) { .cards { display: flex; flex-direction: column; justify-content: center; align-items: center; } }
    .card { margin: 30px 10px 20px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3); :hover border-color: #012E40;  }
    .card-body { padding: 20px 15px; }
    .card-title { text-align: center; color : #012E40; }
    .card-text { text-align: left; color : #012E40; }
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F2E3D5; padding: 2px 6px; }
    .card-img-top { height: 300px; object-fit: cover;  filter : grayscale(100%); border-radius: 10px 10px 0 0 ; }
    .card-img-top:hover { filter : grayscale(0%); }
    .btn-primary { background-color: #012E40; border-color: #012E40; position: relative; left: 50%; transform: translateX(-50%); hover: background-color: #012E40; border-color: #012E40;}
	.button-back { background-color: #012E40; border-color: #012E40; border-radius: 10px; position: relative; left: 50%; transform: translateX(-50%); hover: background-color: #012E40; border-color: #012E40;}
	.link-back { color: #FFF; text-decoration: none; }
    .text-span { color: #012E40; }
    @media (max-width: 768px) { .forms { display: flex; justify-content: space-around; flex-direction: column; } }
    .forms { display: flex; justify-content: space-around; flex-wrap; wrap; margin: 20px; }  
    .form { display:flex; width: 100%; flex-direction: column; justify-content: center; align-items: center; background-color: #F0F0F0F0; border-radius: 10px; padding: 20px; margin: 20px; box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);}
</style>
<div class="page">
    <h1>Bienvenue sur la <span class="text-span">photothèque</span> de chatons</h1>
    <div class="cards">
        {% for dossier in dossiers %}
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('img/' ~ dossier.filename ~ '/preview.jpg') }}" alt="{{ dossier.filename }}" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">{{ dossier.filename }}</h5>
                  <a href="{{ path('app_dossier', {'nomDuDossier': dossier.filename}) }}" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        {% endfor %}
    </div>

    <div class="forms">
        <div class="form">
            <h2> Ajouter un dossier </h2>
            {{form(formulaire) }}
        </div>
        <div class="form">
            <h2> Ajouter une image </h2>
            {{form(formulaireImage ) }}
        </div>
    </div>
</div> 
    
{% endblock %}
